.user-status {
  margin-top: -38px;
  margin-right: -50px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #f1f1f1;
  color: #fff;
  float: right;
}

.status {
  padding-bottom: 10px;
}

.user-status>h4{
  margin: 10px;
}

.user-details {
  border-right: 2px solid #931717;
}

.transcode-objects {
  border-top: 2px solid #931717;
}

.huge {
  font-size: 40px;
}

.transcode-status-pending>i {
  float: right;
  color: #931717;
}

.transcode-status-ready>i {
  float: right;
  color: green;
}

.trancode-object{
    background-image: -webkit-linear-gradient(top,#931717 0,#931717 100%);
    background-image: -o-linear-gradient(top,#931717 0,#931717 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#931717),to(#931717));
    background-image: linear-gradient(to bottom,#931717 0,#931717 100%);
    border: 1px solid transparent;
    border-color: #931717;
    background-color: #fff;
    color: #fff;
}

.trancode-object:hover  {
    color: #fff;
    //background-color: #e0e0e0;
}

.trancode-object span {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.trancode-object span:after {
  color: #fff;
  content: '\f090';
  font-family: FontAwesome;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.trancode-object:hover span {
  color: #fff;
  padding-right: 25px;
}

.trancode-object:hover span:after {
  color: #fff;
  opacity: 1;
  right: 0;
}

.trancode-object:active span {
  color: #fff;
  padding-right: 25px;
}

.trancode-object:active span:after {
  color: #fff;
  opacity: 1;
  right: 0;
}


.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px;
    margin-top: 20px;
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
	display:block;
	position:relative;
	background-color: #111;
	color: #fff;
	padding: 8px;
	border-radius:3px
    transition:all 500ms ease-in-out;
    border-radius:4px
}
.video-list-thumbs > li > a:hover{
	box-shadow:0 2px 5px rgba(0,0,0,.3);
	text-decoration:none
}
.video-list-thumbs h2{
	bottom: 0;
	font-size: 14px;
	height: 33px;
	margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
	color:#fff;
	opacity:1;
	text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	left: 12px;
	line-height: 13px;
	padding: 2px 3px 1px;
	position: absolute;
	top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration{
	background-color:#000;
}
@media (min-width:320px) and (max-width: 480px) {
	.video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
	}
	.video-list-thumbs h2{
		bottom: 0;
		font-size: 12px;
		height: 22px;
		margin: 8px 0 0;
	}
}
