.panel-info>.panel-heading {
    background-image: linear-gradient(to bottom,#931717 0,#931717 100%);
}

.panel-heading {
    color: #fff;
    background-color: #931717;
    border-color: #931717;
}

.panel-heading>span {
    color: #fff;
  }

.panel-info {
    border-color: #931717;
}

/*.btn:focus, .btn:hover {
  color: #f1f1f1;
  background-color: #931717;
  box-shadow: 0 1px #931717;
  transform: translateY(1px);
}*/

.btn {
  color: #fff;
  background-image: linear-gradient(to bottom,#931717 0,#931717 100%);
  background-repeat: repeat-x;
  border-color: #931717;
}

.btn span {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  color: #fff;
  //content: '\00bb';
  content: '\f090';
  font-family: FontAwesome;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  color: #fff;
  padding-right: 25px;
}

.btn:hover span:after {
  color: #fff;
  opacity: 1;
  right: 0;
}

.btn:active{
  background-image: linear-gradient(to bottom,#931717 0,#931717 100%);
}

.btn:active span {
  color: #fff;
  padding-right: 100px;
}

.btn:active span:after {
  color: #fff;
  opacity: 1;
  right: 0;
}
