body {
  padding-top: 70px;
  background-color: #f1f1f1;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
        width: 1300px;
    }
}

.transcoding {
  text-align: center;
  margin-top: 5%;
}

.transcoding>span>i{
  color: green;
}

.navbar-default {
    background-image: -webkit-linear-gradient(top,#931717 0,#931717 100%);
    background-image: -o-linear-gradient(top,#931717 0,#931717 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#931717),to(#931717));
    background-image: linear-gradient(to bottom,#931717 0,#931717 100%);
    border: 1px solid transparent;
    border-color: #931717;
    background-color: #fff;
}

.navbar-default .navbar-brand  {
    color: #fff;
}

.navbar-default .navbar-brand:hover  {
    color: #fff;
    //background-color: #e0e0e0;
}

.navbar-default .navbar-brand span {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.navbar-default .navbar-brand span:after {
  color: #fff;
  content: '\f015';
  font-family: FontAwesome;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.navbar-default .navbar-brand:hover span {
  color: #fff;
  padding-right: 25px;
}

.navbar-default .navbar-brand:hover span:after {
  color: #fff;
  opacity: 1;
  right: 0;
}

.navbar-default .navbar-brand:active span {
  color: #fff;
  padding-right: 25px;
}

.navbar-default .navbar-brand:active span:after {
  color: #fff;
  opacity: 1;
  right: 0;
}

.navbar-default .navbar-nav>li:hover>a {
    color: #000;
    background-color: #e0e0e0;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #931717;
}

.navbar-default .navbar-nav>li.active>a {
    color: #000;
    background-color: #f1f1f1;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #931717;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #000;
  background-color: #f1f1f1;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #931717;
}

.container .jumbotron, .container-fluid .jumbotron {
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #931717;
    background-color: #fff;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
