.transcoding-object{
  color: #931717;
  background-repeat: repeat-x;
  border-color: #931717;
}

.icon-check{
  display: none;
  font-size: 30px;
  color: green;

}

.animated {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
  animation-iteration-count:1;
  -webkit-animation-iteration-count:1; /* Safari and Chrome */
}

.icon-spinner {
  display: none;
  font-size: 30px;
  color: #931717;

}

.load-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.large{
  font-size: 20px;
}

.download-object {
  color: #931717;
  //background-image: linear-gradient(to bottom,#931717 0,#931717 100%);
  background-repeat: repeat-x;
  border-color: #931717;
}

.download-object span {
  color: #931717;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.download-object span:after {
  color: #931717;
  //content: '\00bb';
  content: '\f019';
  font-family: FontAwesome;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.download-object:hover span {
  color: #931717;
  padding-right: 25px;
}

.download-object:hover span:after {
  color: #931717;
  opacity: 1;
  right: 0;
}

.download-object:active{
  color: #931717;
  //background-image: linear-gradient(to bottom,#931717 0,#931717 100%);
  background-repeat: repeat-x;
  border-color: #931717;
}

.download-object:active span {
  color: #931717;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.8s
}

.download-object:active span:after {
  color: #931717;
  content: '\00bb';
  //content: '\f019';
  font-family: FontAwesome;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0
}

/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner {
  //margin: 100px auto 0;
  //width: 70px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
