{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block header %}
    {% endblock %}
    <title>ARCADIA Files Interface</title><link rel="shortcut icon" href="{% static "img/icon.png" %}" />
  </head>
  <body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span> ARCADIA File Managment </span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{% if active == 'dashboard' %}active{% endif %}"><a href="/dashboard">Dashboard</a></li>
          <li class="{% if active == 'objects' %}active{% endif %}"><a href="objects">Objects</a></li>
          <!-- <li class="{% if active == 'contact' %}active{% endif %}"><a href="#contact">Contact</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown {% if active == 'profile' %}active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
            <ul class="dropdown-menu" id="dropdown">
              <li><a href="/accounts/profile/">Profile</a></li>
              <li><a href="/accounts/logout/">Logout</a></li>
              <!-- <li role="separator" class="divider"></li> -->
              <!-- <li class="dropdown-header">Last Activity</li>
              {% for file in files %}
                <li><a href="#">{{ file }}</a></li>
              {% endfor %} -->
            </ul>
          </li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>


    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="row" style="margin-top: -5px; margin-bottom: 5px;">
        <div class="col-md-6 text-left">
          <a href="http://arcadia-framework.eu"  style="navbar-left"><img src="/static/img/icon.png" style="max-height: 50px;"></a>
        </div>

        <div class="col-md-6 text-right">
          <a href="http://aditess.com"  style="navbar-right"><img src="/static/img/aditess.png" style="max-height: 50px;"></a>
        </div>
      </div>
      <div class="jumbotron">
          {% block content %}
          {% endblock %}
      </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% block footer %}
  {% endblock %}
  </body>

</html>
