{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <title>ARCADIA | Files Interface</title>
  </head>
  <body class="container jumbotron">
      <div class="row">
         <div class="col-md-6 col-md-offset-3">
         <div class="panel with-nav-tabs panel-info">
            <div class="panel-heading">
               <span>ARCADIA Files Interface</span>
            </div>

            <div class="panel-body">
               <div class="tab-content">
                  <div id="login" class="tab-pane fade in active register">
                     <div class="container-fluid">
                        <div class="row">
                              <h2 class="text-center" style="color: #931717;"> <strong> Login  </strong></h2><hr />
                              <div class="row">
                                 <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-3 col-sm-offset-3 col-md-offset-2">
                                   <form action="/accounts/login/" method="post" id="login">{% csrf_token %}
                                    <div class="form-group">
                                       <div class="input-group">
                                          <div class="input-group-addon">
                                             <span class="glyphicon glyphicon-user"></span>
                                          </div>
                                          <input type="text" placeholder="User Name" name="username" class="form-control">
                                       </div>
                                    </div>
                                    <div class="form-group">
                                       <div class="input-group">
                                          <div class="input-group-addon">
                                             <span class="glyphicon glyphicon-lock"></span>
                                          </div>

                                          <input type="password" placeholder="Password" name="password" class="form-control">
                                       </div>
                                    </div>

                                    <button type="submit" class="btn btn-block btn-lg" id="login"><span> Login </span></button>
                                    </form>
                                 </div>
                              </div>

                              <!-- <div class="row">
                                 <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-3 col-sm-offset-3 col-md-offset-2">
                                    <div class="form-group">
                                       <div class="input-group">
                                          <div class="input-group-addon">
                                             <span class="glyphicon glyphicon-lock"></span>
                                          </div>

                                          <input type="password" placeholder="Password" name="password" class="form-control">
                                       </div>
                                    </div>
                                 </div>
                              </div> -->
                              <hr />
                              {% if message %}
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                 <!-- <div class="col-xs-6 col-sm-6 col-md-6"> -->
                                    <div class="form-group">
                                      <div class="alert alert-warning col-lg-10 col-lg-offset-1 text-center">
                                        {{message}}
                                      </div>
                                    </div>
                                 <!-- </div> -->

                              </div>
                              {% endif %}

                              <!-- <div class="row">
                                 <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
                                    <button type="submit" class="btn btn-success btn-block btn-lg" id="login"> Login </button>
                                 </div>
                              </div> -->

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>
   </div>

   <script
   src="https://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
   crossorigin="anonymous"></script>

   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


 </body>

 </html>
