{% extends "base.html" %}
{% load static %}

{% block header %}
  <link rel="stylesheet" href="{% static "css/account.css" %}">
  <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 status">
    {% if user.is_active %}
      <div class="user-status" style="background-color: green;">
        <h4><i class="fa fa-check-circle-o" aria-hidden="true"> Active</i></h4>
      </div>
    {% else %}
      <div class="user-status" style="background-color: #931717;">
        <h4><i class="fa fa-times-circle-o" aria-hidden="true"> Inactive</i></h4>
      </div>
    {% endif %}
  </div>
  <div class="col-md-4 user-details">
    <!-- <div class="affix"> -->
      <h3 class="text-left"><b>User Details</b></h3>
      <h4></h4>
      <h4><i class="fa fa-user-circle-o"> <b> {{ user.username }} / {{user.lastname}} {{user.firstname}}</b></i></h4>
      <h4><i class="fa fa-envelope-o"> <b> {{ user.email }}</b></i></h4>
      <h4><i class="fa fa-clock-o"> Priority: <b> {{ userProfile.priority }}</b></i></h4>
      <h4><i class="fa fa-sign-in"> Last Login: <b> {{ user.last_login }}</b></i></h4>
      <h4><i class="fa fa-clock-o"> Date Joined: <b> {{ user.date_joined }}</b></i></h4>
    <!-- </div> -->
  </div>
    <div class="col-md-8">
      <h3 class="text-center"><b>Transcode Details</b></h3>
      <h4></h4>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="text-center">
                  <div class="huge">{{ total }}</div>
                  <!-- <div>Users</div> -->
                </div>
              </div>
            </div>
            <!-- <a href="#"> -->
              <div class="panel-footer text-center">
                <span class="text-center">Total Objects</span>
                <!-- <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> -->
                <div class="clearfix"></div>
              </div>
            <!-- </a> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <div class="row">
                <div class="text-center">
                  <div class="huge">{{ pending }}</div>
                  <!-- <div>Users</div> -->
                </div>
              </div>
            </div>
            <!-- <a href="#"> -->
              <div class="panel-footer text-center">
                <span class="text-center">Pending Objects</span>
                <!-- <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> -->
                <div class="clearfix"></div>
              </div>
            <!-- </a> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="row">
                <div class="text-center">
                  <div class="huge">{{ transcoded }}</div>
                  <!-- <div>Users</div> -->
                </div>
              </div>
            </div>
            <!-- <a href="#"> -->
              <div class="panel-footer text-center">
                <span class="text-center">Transcoded Objects</span>
                <!-- <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> -->
                <div class="clearfix"></div>
              </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>

{% endblock %}
