{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "css/account.css" %}">
<link rel="stylesheet" href="{% static "css/login.css" %}">
<link rel="stylesheet" href="{% static "css/form.css" %}">
{% endblock %}
          {% block content %}
          <!-- Standar Form -->
          <!-- <h4>Select files from your computer</h4>
          <form action="/dashboard/upload/" method="post" enctype="multipart/form-data" id="js-upload-form">{% csrf_token %}
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="file" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </div>
          </form> -->

          <div class="row">
            <div class="col-md-4 user-details">
              <h3 class="text-center"><b>Upload Video</b></h3>
              <div class="row">
                <div class="upload_form_cont">
                  <form id="upload_form" method="post" enctype="multipart/form-data">{% csrf_token %}
                      <div>
                          <div><label for="image_file">Please select video file</label></div>
                          <div><input type="file" name="image_file" id="image_file"onclick="fileClicked();" onchange="fileSelected();" /></div>
                      </div>
                      <div>
                          <!-- <button class="btn" id="upload-button" type="button" value="Upload" onclick="startUploading()" />Upload</button> -->
                          <button id="upload-button" type="button" value="Upload" onclick="startUploading()" class="btn btn-block btn-lg"><span id="upload-span"> Upload </span></button>
                      </div>
                      <div id="fileinfo">
                          <div id="filename"></div>
                          <div id="filesize"></div>
                          <div id="filetype"></div>
                          <div id="filedim"></div>
                      </div>
                      <div id="error">You should select valid video files only!</div>
                      <div id="error2">An error occurred while uploading the file</div>
                      <div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>
                      <!-- <div id="warnsize">Your file is very big. We can't accept it. Please select more small file</div> -->

                      <div id="progress_info">
                          <div id="progress"></div>
                          <div id="progress_percent">&nbsp;</div>
                          <div class="clear_both"></div>
                          <div>
                              <div id="speed">&nbsp;</div>
                              <div id="remaining">&nbsp;</div>
                              <div id="b_transfered">&nbsp;</div>
                              <div class="clear_both"></div>
                          </div>
                          <div id="upload_response"></div>
                      </div>
                  </form>

                  <!-- <img id="preview" /> -->
              </div>
                <!-- <form action="/dashboard/upload/" method="post" enctype="multipart/form-data" id="js-upload-form">{% csrf_token %}
                  <div class="col-sm-6">
                  <div class="form-inline">
                    <div class="form-group">
                      <input type="file" name="file" id="js-upload-files" multiple>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                  </div>
                </div>
                </form> -->
              </div>
            </div>
              <div class="col-md-8">
                <h3 class="text-center"><b>Transcode Details</b></h3>
                <h4></h4>
                <div class="row">
                  <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="text-center">
                            <div class="huge">{{ total }}</div>
                            <!-- <div>Users</div> -->
                          </div>
                        </div>
                      </div>
                      <!-- <a href="#"> -->
                        <div class="panel-footer text-center">
                          <span class="text-center">Total Objects</span>
                          <!-- <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> -->
                          <div class="clearfix"></div>
                        </div>
                      <!-- </a> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="text-center">
                            <div class="huge">{{ pending }}</div>
                            <!-- <div>Users</div> -->
                          </div>
                        </div>
                      </div>
                      <!-- <a href="#"> -->
                        <div class="panel-footer text-center">
                          <span class="text-center">Pending Objects</span>
                          <!-- <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> -->
                          <div class="clearfix"></div>
                        </div>
                      <!-- </a> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="text-center">
                            <div class="huge">{{ transcoded }}</div>
                            <!-- <div>Users</div> -->
                          </div>
                        </div>
                      </div>
                      <!-- <a href="#"> -->
                        <div class="panel-footer text-center">
                          <span class="text-center">Transcoded Objects</span>
                          <!-- <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> -->
                          <div class="clearfix"></div>
                        </div>
                      <!-- </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 transcode-objects">
                {% if total > 9 %}
                  <h3 class="text-center"><b>Last 9 Transcode Objects</b></h3>
                {% else %}
                  <h3 class="text-center"><b>Last {{ total }} Transcode Objects</b></h3>
                {% endif %}
                <ul class="list-unstyled video-list-thumbs row">
                  {% for transcodedObject in transcodedObjects %}
                	<li class="col-md-4">
                    <div class="panel with-nav-tabs panel-info">
                      <a href="/dashboard/object/{{transcodedObject.transcodeID}}/">
                      <div class="panel-heading trancode-object text-center">
                         <span>{{transcodedObject.id}}</span>
                      </div>
                      </a>

                      <div class="panel-body">
                        <h4><i class="fa fa-clock-o"> File Name: <b> {{ transcodedObject.filename }}</b></i></h4>
                        <h4><i class="fa fa-clock-o"> Transcode Format: <b> {{ transcodedObject.transcodeFormat }}</b></i></h4>
                        <h4><i class="fa fa-clock-o"> Priority: <b> {{ transcodedObject.priority }}</b></i></h4>
                        <h4><i class="fa fa-clock-o"> <b> {{ transcodedObject.uploadDate }}</b></i></h4>
                        <div class="transcode-status">
                          {% if transcodedObject.transcodedFile == None  %}
                          <div class="row">
                            <div class="col-md-9">
                              <h4>Status: <b>Pending...</b></h4>
                            </div>
                            <div class="col-md-3 transcode-status-pending">
                              <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                            </div>
                          </div>
                          {% else %}
                          <div class="row">
                            <div class="col-md-9">
                              <h4>Status: <b>Ready</b></h4>
                            </div>
                            <div class="col-md-3 transcode-status-ready">
                              <i class="fa fa-check fa-2x fa-fw"></i>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <!-- <a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
                			<span class="glyphicon glyphicon-play-circle"></span>
                			<span class="duration">03:15</span>
                		</a> -->
                	</li>
                  {% endfor %}
                </ul>

          </div>

            </div>

          <!-- Drop Zone -->
          <!-- <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div> -->

          <!-- Progress Bar -->
          <!-- <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div> -->

          <!-- Upload Finished -->
          <!-- <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              {% for file in files %}
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>{{ file.name }}</a>
                {{ file.id }}
              {% endfor %}
            </div>
          </div> -->
          {% endblock %}
        <!-- </div>
      </div>
    </div>
  </body>

</html> -->
{% block footer %}
<script>
// common variables
var iBytesUploaded = 0;
var iBytesTotal = 0;
var iPreviousBytesLoaded = 0;
var iMaxFilesize = 1048576; // 1MB
var oTimer = 0;
var sResultFileSize = '';
var cacheClear = null;

document.getElementById("upload-button").disabled = true

$("#upload-span").css("pointer-events", "none");

function secondsToTime(secs) { // we will use this function to convert seconds in normal time format
    var hr = Math.floor(secs / 3600);
    var min = Math.floor((secs - (hr * 3600))/60);
    var sec = Math.floor(secs - (hr * 3600) -  (min * 60));

    if (hr < 10) {hr = "0" + hr; }
    if (min < 10) {min = "0" + min;}
    if (sec < 10) {sec = "0" + sec;}
    if (hr) {hr = "00";}
    return hr + ':' + min + ':' + sec;
};

function bytesToSize(bytes) {
    var sizes = ['Bytes', 'KB', 'MB'];
    if (bytes == 0) return 'n/a';
    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
    return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
};

function fileClicked(){
  console.log("trigger");
  clearInterval(cacheClear);
}

function fileSelected() {

    // hide different warnings
    document.getElementById('upload_response').style.display = 'none';
    document.getElementById('error').style.display = 'none';
    document.getElementById('error2').style.display = 'none';
    document.getElementById('abort').style.display = 'none';
    // document.getElementById('warnsize').style.display = 'none';

    // get selected file element
    var oFile = document.getElementById('image_file').files[0];

    // filter for image files
    //var rFilter = /^(image\/bmp|image\/gif|image\/jpeg|image\/png|image\/tiff)$/i;
    var rFilter = /^(video\/mp4|video\/avi|video\/mov|video\/mkv|video\/ts)$/i;
    if (! rFilter.test(oFile.type)) {
        document.getElementById('error').style.display = 'block';
        document.getElementById("upload-button").disabled = true;
        $("#upload-span").css("pointer-events", "none");
        return;
    }

    // little test for filesize
    if (oFile.size > iMaxFilesize) {
        //document.getElementById('warnsize').style.display = 'block';
        //return;
    }
    document.getElementById("upload-button").disabled = false;
    $("#upload-span").css("pointer-events", "auto");
    return;
    // get preview element
    var oImage = document.getElementById('preview');

    // prepare HTML5 FileReader
    var oReader = new FileReader();
        oReader.onload = function(e){

        // e.target.result contains the DataURL which we will use as a source of the image
        oImage.src = e.target.result;

        oImage.onload = function (e) { // binding onload event
          console.log(oReader.result);
            // we are going to display some custom image information here
            sResultFileSize = bytesToSize(oFile.size);
            document.getElementById('fileinfo').style.display = 'block';
            document.getElementById('filename').innerHTML = 'Name: ' + oFile.name;
            document.getElementById('filesize').innerHTML = 'Size: ' + sResultFileSize;
            document.getElementById('filetype').innerHTML = 'Type: ' + oFile.type;
            document.getElementById('filedim').innerHTML = 'Dimension: ' + oImage.naturalWidth + ' x ' + oImage.naturalHeight;
        };
    };

    // read selected file as DataURL
    oReader.readAsDataURL(oFile);
}

function startUploading() {
    // cleanup all temp states
    iPreviousBytesLoaded = 0;
    document.getElementById('upload_response').style.display = 'none';
    document.getElementById('error').style.display = 'none';
    document.getElementById('error2').style.display = 'none';
    document.getElementById('abort').style.display = 'none';
    // document.getElementById('warnsize').style.display = 'none';
    document.getElementById('progress_percent').innerHTML = '';
    var oProgress = document.getElementById('progress');
    oProgress.style.display = 'block';
    oProgress.style.width = '0px';

    // get form data for POSTing
    //var vFD = document.getElementById('upload_form').getFormData(); // for FF3
    var vFD = new FormData(document.getElementById('upload_form'));

    // create XMLHttpRequest object, adding few event listeners, and POSTing our data
    var oXHR = new XMLHttpRequest();
    oXHR.upload.addEventListener('progress', uploadProgress, false);
    //oXHR.addEventListener('load', uploadFinish, false);
    oXHR.addEventListener("load", function() {
      if (oXHR.status < 400){
        var oUploadResponse = document.getElementById('upload_response');
        //oUploadResponse.innerHTML = "Upload Finished";
        oUploadResponse.innerHTML = "<div class=\"row\"><div class=\"col-md-9\"><h4><b>Upload Finished</b></h4></div><div class=\"col-md-3 transcode-status-ready\"><i class=\"fa fa-check fa-2x fa-fw\"></i></div></div>";
        oUploadResponse.style.display = 'block';

        document.getElementById('progress_percent').innerHTML = '100%';
        document.getElementById('progress').style.width = '100%';
        //document.getElementById('progress').style.text-align = 'center';
        document.getElementById('filesize').innerHTML = sResultFileSize;
        document.getElementById('remaining').innerHTML = '| 00:00:00';
        window.setTimeout(function() {
          location.href = "/";
        }, 2000);
      }
      else{
        var oUploadResponse = document.getElementById('upload_response');
        oUploadResponse.innerHTML = "Oops Something went wrong... Please Try Again";
        oUploadResponse.style.display = 'block';
        document.getElementById('progress').style.display = 'hiden';
      }
    });
    oXHR.addEventListener('error', uploadError, false);
    oXHR.addEventListener('abort', uploadAbort, false);
    oXHR.open('POST', '/dashboard/upload/');
    oXHR.send(vFD);

    var oUploadResponse = document.getElementById('upload_response');
    oUploadResponse.innerHTML = "<div class=\"row\"><div class=\"col-md-9\"><h4><b>Uploading...</b></h4></div><div class=\"col-md-3 transcode-status-pending\"><i class=\"fa fa-spinner fa-pulse fa-2x fa-fw\"></i></div></div>";
    oUploadResponse.style.display = 'block';

    // set inner timer
    oTimer = setInterval(doInnerUpdates, 300);
}

function doInnerUpdates() { // we will use this function to display upload speed
    var iCB = iBytesUploaded;
    var iDiff = iCB - iPreviousBytesLoaded;

    // if nothing new loaded - exit
    if (iDiff == 0)
        return;

    iPreviousBytesLoaded = iCB;
    iDiff = iDiff * 2;
    var iBytesRem = iBytesTotal - iPreviousBytesLoaded;
    var secondsRemaining = iBytesRem / iDiff;

    // update speed info
    var iSpeed = iDiff.toString() + 'B/s';
    if (iDiff > 1024 * 1024) {
        iSpeed = (Math.round(iDiff * 100/(1024*1024))/100).toString() + 'MB/s';
    } else if (iDiff > 1024) {
        iSpeed =  (Math.round(iDiff * 100/1024)/100).toString() + 'KB/s';
    }

    document.getElementById('speed').innerHTML = iSpeed;
    document.getElementById('remaining').innerHTML = '| ' + secondsToTime(secondsRemaining);
}

function uploadProgress(e) { // upload process in progress
    if (e.lengthComputable) {
        iBytesUploaded = e.loaded;
        iBytesTotal = e.total;
        var iPercentComplete = Math.round(e.loaded * 100 / e.total);
        var iBytesTransfered = bytesToSize(iBytesUploaded);

        document.getElementById('progress_percent').innerHTML = iPercentComplete.toString() + '%';
        document.getElementById('progress').style.width = '100%';// (iPercentComplete * 4).toString() + 'px';
        //document.getElementById('progress').style.textAlign = 'center';
        document.getElementById('b_transfered').innerHTML = iBytesTransfered;
        // if (iPercentComplete == 100) {
        //     var oUploadResponse = document.getElementById('upload_response');
        //     oUploadResponse.innerHTML = '<h4>Please wait...processing</h4>';
        //     oUploadResponse.style.display = 'block';
        // }
    } else {
        document.getElementById('progress').innerHTML = 'unable to compute';
    }
}

function uploadFinish(e) { // upload successfully finished
    var oUploadResponse = document.getElementById('upload_response');
    oUploadResponse.innerHTML = e.target.responseText;
    oUploadResponse.style.display = 'block';

    document.getElementById('progress_percent').innerHTML = '100%';
    document.getElementById('progress').style.width = '100%';
    //document.getElementById('progress').style.text-align = 'center';
    document.getElementById('filesize').innerHTML = sResultFileSize;
    document.getElementById('remaining').innerHTML = '| 00:00:00';

    clearInterval(oTimer);
}

function uploadError(e) { // upload error
  console.log("An error occurred while transferring the file.");
    document.getElementById('error2').style.display = 'block';
    clearInterval(oTimer);
}

function uploadAbort(e) { // upload abort
  console.log("The transfer has been canceled by the user.");
    document.getElementById('abort').style.display = 'block';
    clearInterval(oTimer);
}

</script>

{% if pending > 0 %}
  <script>
  $(document).ready(function() {
    cacheClear = setInterval(function() {
      cache_clear()
    }, 5000);
  });

  function cache_clear() {
    window.location.reload(true);
    // window.location.reload(); use this if you do not remove cache
  }
  </script>
{% endif %}
<script>

{% endblock %}
