{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "css/account.css" %}">
<link rel="stylesheet" href="{% static "css/login.css" %}">
<link rel="stylesheet" href="{% static "css/form.css" %}">
<link rel="stylesheet" href="{% static "css/trancodeObject.css" %}">
{% endblock %}
          {% block content %}

          <div class="row">
            <div class="col-md-4 transcoding">

                <span class="text-center large "><b>{{ transcoded }} Objects Transcoded </b></span><i style="color:green;" class="fa fa-check fa-2x fa-fw"></i>

              <div class="transcoding-object">

                  <!-- <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> -->
                  <div class="spinner">
                    {% if pending > 0 %}
                    <span class="text-center large"><b>Transcoding {{ pending }} objects</b></span>
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                    {% else %}
                    <span class="text-center large "><b>No objects for transcoding </b></span>

                    {% endif %}
                  </div>
                <div class="clearfix"></div>
              </div>

              <div class="row">
              </div>
            </div>
              <div class="col-md-8">
                <h3 class="text-center"><b>Transcode Details</b></h3>
                <h4></h4>
                <div class="row">
                  <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="text-center">
                            <div class="huge">{{ total }}</div>
                            <!-- <div>Users</div> -->
                          </div>
                        </div>
                      </div>
                      <!-- <a href="#"> -->
                        <div class="panel-footer text-center">
                          <span class="text-center">Total Objects</span>
                          <!-- <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> -->
                          <div class="clearfix"></div>
                        </div>
                      <!-- </a> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="text-center">
                            <div class="huge">{{ pending }}</div>
                            <!-- <div>Users</div> -->
                          </div>
                        </div>
                      </div>
                      <!-- <a href="#"> -->
                        <div class="panel-footer text-center">
                          <span class="text-center">Pending Objects</span>
                          <!-- <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> -->
                          <div class="clearfix"></div>
                        </div>
                      <!-- </a> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="text-center">
                            <div class="huge">{{ transcoded }}</div>
                            <!-- <div>Users</div> -->
                          </div>
                        </div>
                      </div>
                      <!-- <a href="#"> -->
                        <div class="panel-footer text-center">
                          <span class="text-center">Transcoded Objects</span>
                          <!-- <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> -->
                          <div class="clearfix"></div>
                        </div>
                      <!-- </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 transcode-objects">
                <h3 class="text-center"><b>Transcode Objects</b></h3>
                <ul class="list-unstyled video-list-thumbs row">
                  {% for transcodedObject in transcodedObjects %}
                	<li class="col-md-4">
                    <div class="panel with-nav-tabs panel-info">
                      <a href="/dashboard/object/{{transcodedObject.transcodeID}}/">
                      <div class="panel-heading trancode-object text-center">
                         <span>{{transcodedObject.id}}</span>
                      </div>
                      </a>

                      <div class="panel-body">
                        <h4><i class="fa fa-clock-o"> File Name: <b> {{ transcodedObject.filename }}</b></i></h4>
                        <h4><i class="fa fa-clock-o"> Transcode Format: <b> {{ transcodedObject.transcodeFormat }}</b></i></h4>
                        <h4><i class="fa fa-clock-o"> Priority: <b> {{ transcodedObject.priority }}</b></i></h4>
                        <h4><i class="fa fa-clock-o"> <b> {{ transcodedObject.uploadDate }}</b></i></h4>
                        <div class="transcode-status">
                          {% if transcodedObject.transcodedFile == None  %}
                          <div class="row">
                            <div class="col-md-9">
                              <h4>Status: <b>Pending...</b></h4>
                            </div>
                            <div class="col-md-3 transcode-status-pending">
                              <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                            </div>
                          </div>
                          {% else %}
                          <div class="row">
                            <div class="col-md-9">
                              <h4>Status: <b>Ready</b></h4>
                            </div>
                            <div class="col-md-3 transcode-status-ready">
                              <i class="fa fa-check fa-2x fa-fw"></i>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <!-- <a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
                			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
                			<span class="glyphicon glyphicon-play-circle"></span>
                			<span class="duration">03:15</span>
                		</a> -->
                	</li>
                  {% endfor %}
                </ul>

          </div>

            </div>

          <!-- Drop Zone -->
          <!-- <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div> -->

          <!-- Progress Bar -->
          <!-- <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div> -->

          <!-- Upload Finished -->
          <!-- <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              {% for file in files %}
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>{{ file.name }}</a>
                {{ file.id }}
              {% endfor %}
            </div>
          </div> -->
          {% endblock %}
        <!-- </div>
      </div>
    </div>
  </body>

</html> -->
{% block footer %}

{% if pending > 0 %}
  <script>
  $(document).ready(function() {
    setInterval(function() {
      cache_clear()
    }, 5000);
  });

  function cache_clear() {
    window.location.reload(true);
    // window.location.reload(); use this if you do not remove cache
  }
  </script>
{% endif %}
<script>

{% endblock %}
