{% extends "base.html" %}
{% load static %}

{% block header %}
  <link rel="stylesheet" href="{% static "css/trancodeObject.css" %}">
  <link rel="stylesheet" href="{% static "css/account.css" %}">
  <link rel="stylesheet" href="{% static "css/login.css" %}">

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 user-details">
    <h3 class="text-left"><b>Object Details</b></h3>
    <h4></h4>
    <!-- <h4><i class="fa fa-user-circle-o"> Filename: <b> {{file.filename}}</b></i></h4> -->
    <h4>Filename: <b> {{file.filename}}</b></h4>
    <!-- <h4><i class="fa fa-envelope-o"> Transcode Format:  <b> {{ file.transcodeFormat }}</b></i></h4> -->
    <h4>Transcode Format:  <b> {{ file.transcodeFormat }}</b></h4>
    <!-- <h4><i class="fa fa-clock-o"> Priority: <b> {{ file.priority }}</b></i></h4> -->
    <h4>Priority: <b> {{ file.priority }}</b></h4>
    <h4><i class="fa fa-clock-o"> Upload Data: <b> {{ file.uploadDate }}</b></i></h4>
    <div class="transcode-status">
      {% if file.transcodedFile == None  %}
      <div class="row">
        <div class="col-md-9">
          <h4>Status: <b>Pending...</b></h4>
        </div>
        <div class="col-xs-3 transcode-status-pending">
          <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-md-9">
          <h4>Status: <b>Ready</b></h4>
        </div>
        <div class="col-xs-3 transcode-status-ready">
          <i class="fa fa-check fa-2x fa-fw"></i>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-sm-8">
    <h3 class="text-center" style="padding-bottom: 5%;"><b>Transcode Details</b></h3>
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="text-center">
                <div class="large">Original Video</div>
                <!-- <div>Users</div> -->
              </div>
            </div>
          </div>
          <!-- <a href="#"> -->
            <div class="panel-footer text-center">
              <a class="download-object" href="/dashboard/object/download/{{ file.transcodeID }}">
                <span class="text-center large">Download</span>
                <!-- <span class="pull-right"><i class="fa fa-download" aria-hidden="true"></i></span> -->
                <div class="clearfix"></div>
              </a>
            </div>
          <!-- </a> -->
        </div>
      </div>
      <div class="col-sm-2 text-center ">
        <span class="icon-spinner"><i class="fa fa-spinner fa-2x load-animate"></i></span>
        <span class="icon-check"><i class="fa fa-check fa-2x animated"></i></span>

      </div>
      <div class="col-sm-5">
      {% if file.transcodedFile == None %}
        <div class="panel panel-danger">
      {% else %}
        <div class="panel panel-primary">
        {% endif %}
          <div class="panel-heading">
            <div class="row">
              <div class="text-center">
                <div class="large">Transcoded Video</div>
                <!-- <div>Users</div> -->
              </div>
            </div>
          </div>
          <!-- <a href="#"> -->
          <div class="panel-footer text-center">
            {% if file.transcodedFile == None %}
              <div class="transcoding-object">

                  <!-- <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> -->
                  <div class="spinner">
                    <span class="text-center large">Transcoding</span>
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                <div class="clearfix"></div>
              </div>
            {% else %}
              <a class="download-object" href="/dashboard/object/download/{{ file.transcodeID }}?transcoded=true">
                <span class="text-center large">Download</span>
                <!-- <span class="pull-right"><i class="fa fa-download" aria-hidden="true"></i></span> -->
                <div class="clearfix"></div>
              </a>
            {% endif %}
          </div>
          <!-- </a> -->
        </div>
      </div>
      <!-- <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="row">
              <div class="text-center">
                <div class="huge">{{ transcoded }}</div>
              </div>
            </div>
          </div>
            <div class="panel-footer text-center">
              <span class="text-center">Transcoded Objects</span>
              <div class="clearfix"></div>
            </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% if file.transcodedFile == None %}
  <script>
  $(document).ready(function() {
    setInterval(function() {
      cache_clear()
    }, 5000);
  });

  function cache_clear() {
    window.location.reload(true);
    // window.location.reload(); use this if you do not remove cache
  }
  </script>
{% endif %}
<script>

$(".download-object").click(function(){
  console.log(this);
  //$('.icon-spinner').show().delay(3000).hide();
  var tId;
  $(".icon-check").hide();
  $(".icon-spinner").hide().slideDown();
    clearTimeout(tId);
    tId=setTimeout(function(){
      $(".icon-spinner").hide();
      $(".icon-check").show();
    }, 3000);
});

</script>
{% endblock %}
